.app-info {
	padding: 25px;
	background-color: #3d5a80;
	border-radius: 4px;
	box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
	color: #fff;
}

.app-info-text {
	font-size: 30px;
}

.app-info-form {
	display: inline-block;
	margin-bottom: 5px;
}

.app-info-form span {
	font-size: 20px;
}

.app-info-form input {
	padding: 5px;
}